// Testo
$light-text: #ffffff;
$medium-text: #7d7d7d;

//Chiari Scuri
$lightest: #ffffff;
$lighter: #ececec;
$light: #d6d6d6;
$dark: #7d7d7d;
$darker: #2e3a46;
$darkest: #1e2d3b;

//Colori
$green: #1ed760;

//Proprieta
$green-filter: invert(45%) sepia(100%) saturate(491%) hue-rotate(87deg) brightness(100%) contrast(80%);